<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="menu">
		<header class="header trans_300 ">
			<!-- Top Navigation -->
			<div class="top_nav">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="top_nav_left">MAY ĐO VÀ KINH DOANH QUẦN ÁO, PHỤ KIỆN DÀNH CHO NAM</div>
						</div>
						<div class="col-md-6">
							<div class="top_nav_right">ĐỊA CHỈ: 236 TRƯỜNG CHINH, P13, QUẬN TÂN BÌNH, TP.HCM - SĐT: 093.211.40.48</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Main Navigation -->

			<div class="main_nav_container">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="logo_container">
								<img src="/images/Photo/logo.jpg" alt="">
							</div>
							<nav class="navbar">
								<ul class="navbar_menu">
									<li><a href="/menu/vest">vest</a></li>
									<li><a href="/menu/somi">sơ mi</a></li>
									<li><a href="/menu/quan">quần tây</a></li>
									<li><a href="/menu/giay">Giày</a></li>
									<li><a href="/menu/phukien">phụ kiện</a></li>
									<li><a href="/contact">liên hệ</a></li>
								</ul>
								<div class="hamburger_container">
									<i class="fa fa-bars" style="color:white;"  aria-hidden="true"></i>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="fs_menu_overlay"></div>
		<div class="hamburger_menu">
			<div class="hamburger_close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					<li class="menu_item"><a href="/menu/vest">vest</a></li>
					<li class="menu_item"><a href="/menu/somi">sơ mi</a></li>
					<li class="menu_item"><a href="/menu/quan">quần tây</a></li>
					<li class="menu_item"><a href="/menu/giay">Giày</a></li>
					<li class="menu_item"><a href="/menu/phukien">phụ kiện</a></li>
					<li class="menu_item"><a href="/contact">liên hệ</a></li>
					
				</ul>
			</div>
		</div>
	</div>
</body>
</html>


